@{
    ViewData["Title"] = "Quản lý tiện nghi";
}

<div class="text-center mb-3">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a href="javascript:void(0);" class="btn btn-info"
           onclick="facility.add()"><i class="fas fa-plus"></i> Thêm tiện nghi</a>
    </div>
</div>

<div class="ajax-loader">
    <img src="~/images/loading.gif" class="img-responsive" />
</div>
<table class="table table-borderless table-striped table-earning">
    <thead>
        <tr>
            <th>tên</th>
            <th>biểu tượng</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="facilitiesTable">
    </tbody>
</table>

<!-- modal medium -->
<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="ajax-loader" id="modal-loader">
                <img src="~/images/loading.gif" class="img-responsive" />
            </div>
            <div class="modal-header">
                <h3 class="modal-title" id="mediumModalLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" id="FacilityId" name="FacilityId" class="form-control" hidden>
                <form id="form">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Tên tiện nghi:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="FacilityName" name="FacilityName" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <input hidden id="FacilityImage" type="text">
                        <div class="col-3">
                            <label>Biểu tượng:</label>
                        </div>
                        <div class="col-6">
                            <div class="custom-file">
                                <input id="inp" name="FacilityImage" type='file'>
                            </div>
                        </div>
                        <div class="col-3" id="imgPreview">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="facility.save()">Lưu</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->
@section scripts{
    <script src="~/lib/js/dashboard/facility.js" asp-append-version="true"></script>
}