@{
    ViewData["Title"] = "Home Page";
}

<section class="hero spad set-bg" data-setbg="/hiroto/img/hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <h5>WELCOME TO GOLDEN STAR</h5>
                    <h2>Dịch vụ chuyên nghiệp.</h2>
                </div>
                <form action="#" class="filter__form">
                    <div class="filter__form__item">
                        <p>Nhận phòng</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__in">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>Trả phòng</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__out">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item filter__form__item--select">
                        <p>Số người</p>
                        <div class="filter__form__select">
                            <span class="icon_group"></span>
                            <select>
                                <option value="">2 Adult, 1 Children</option>
                                <option value="">2 Adult</option>
                                <option value="">1 Adult</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">Đặt phòng</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Home Room Section Begin -->
<section class="home-room spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h5>Loại phòng</h5>
                    <h2>Explore Our Hotel</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="roomTypes">

            @*<div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="home__room__item set-bg" data-setbg="img/home-room/hr-1.jpg">
                    <div class="home__room__title">
                        <h4>Deluxe Room</h4>
                        <h2><sup>$</sup>55<span>/day</span></h2>
                    </div>
                    <a href="#">Booking Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="home__room__item set-bg" data-setbg="img/home-room/hr-2.jpg">
                    <div class="home__room__title">
                        <h4>Deluxe Room</h4>
                        <h2><sup>$</sup>85<span>/day</span></h2>
                    </div>
                    <a href="#">Booking Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="home__room__item set-bg" data-setbg="img/home-room/hr-3.jpg">
                    <div class="home__room__title">
                        <h4>Deluxe Room</h4>
                        <h2><sup>$</sup>94<span>/day</span></h2>
                    </div>
                    <a href="#">Booking Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="home__room__item set-bg" data-setbg="img/home-room/hr-4.jpg">
                    <div class="home__room__title">
                        <h4>Deluxe Room</h4>
                        <h2><sup>$</sup>71<span>/day</span></h2>
                    </div>
                    <a href="#">Booking Now</a>
                </div>
            </div>*@
        </div>
    </div>
    <div class="container">
        <div class="home__explore">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <h3>Planning your next trip? Save up to 25% on your hotel</h3>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                    <a href="#" class="primary-btn">Explorer More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Room Section End -->

@section scripts{ 
    <script>
        $(document).ready(function () {
            showRoomTypes();
        })
    </script>
}