@{
    ViewData["Title"] = "Home Page";
}

<section class="hero spad set-bg" data-setbg="/lib/hiroto/img/hero.jpg">
    <div class="container" id="bookroom">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <h2>Golden Star Hotel</h2>
                    <h5>Dịch vụ chuyên nghiệp</h5>
                </div>
                <form action="#" class="filter__form">
                    <div class="row">
                        <div class="filter__form__item">
                            <p>Nhận phòng</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                <input type="text" class="datepicker_pop check__in">
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item">
                            <p>Trả phòng</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                <input type="text" class="datepicker_pop check__out">
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item filter__form__item--select">
                            <p><span id="NumberOfRooms"></span> phòng <span id="totalPeople"></span></p>
                            <div class="filter__form__input dropdown row mx-auto">
                                <input type="button" class="col-1 bg-dark text-light" value="  -" id="minusRoom">
                                <input type="number" readonly value="1" step="1" min="1" id="numberOfRooms" class="col-5" inputmode="numeric" />
                                <input type="button" class="col-1 bg-dark text-light" value="  +" id="addRoom">
                                <div class="dropdown-content" id="selectRooms">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="Search()">Tìm <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Home Room Section Begin -->
<section class="home-room spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Khám phá khách sạn</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 carousel slide" data-ride="carousel" id="roomTypes">
                <div class="ajax-loader" id="ajax-loader-roomTypes">
                    <img src="~/images/loading.gif" class="img-responsive" />
                </div>
                <div class="section-title">
                    <h3 class="text-warning">Loại phòng</h3>
                </div>
                <!-- Indicators -->
                <ul class="carousel-indicators" id="roomTypeIndicators">
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner" id="roomTypeInner">
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#roomTypes" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#roomTypes" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="col-md-6 carousel slide" data-ride="carousel" id="services">
                <div class="ajax-loader" id="ajax-loader-services">
                    <img src="~/images/loading.gif" class="img-responsive" />
                </div>
                <div class="section-title">
                    <h3 class="text-warning">Dịch vụ</h3>
                </div>
                <!-- Indicators -->
                <ul class="carousel-indicators" id="servicesIndicators">
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner" id="servicesInner">
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#services" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#services" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</section>
<!-- Home Room Section End -->
@section styles{
    <style>
        .carousel-caption {
            text-shadow: 0 0 1px #ffffff;
            background-color: rgba(0, 0, 0, 0.8);
        }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
            showRoomTypes();
            changeNumberOfRooms();
        })
    </script>
}