@{
    ViewData["Title"] = "Chọn Phòng";
}
<div class="container mb-5">
    <div class="text-center my-3">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card">
        <div class="form">
            <div class="p-3" style="background-color:#f1be0d">
                <div class="row">
                    <div id="checkInDate" class="col-lg-4 col-md-6"></div>
                    <div id="checkOutDate" class="col-lg-4 col-md-6"></div>
                    <div id="totalPeople" class="col-lg-4 col-md-6"></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="bg-secondary container" id="tbRoomBooking">
                    </div>
                </div>
                <div class="text-center mt-4">
                    <h4 class="my-5">Tổng tiền: <span class="text-danger" id="TotalAmount"></span></h4>
                    <a class="btn btn-success bg-warning" style="width:150px;"><h4>Đặt Phòng</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/js/home/search.js"></script>
}