@{
    ViewData["Title"] = "Đặt Phòng";
}
<div class="container mb-5">
    <div class="text-center my-3">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card">
        <div class="form">
            <div class="row p-3" style="background-color:#f1be0d">
                <div id="checkInDate" class="col-3"></div>
                <div id="checkOutDate" class="col-3"></div>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-10">
                        <div class="card my-3" id="tbRoomBooking">
                            @*<div class="row">
                                <div class="col-3 text-center my-auto">
                                    <h4>Phòng 1</h4>
                                    <p>(3 người)</p>
                                </div>
                                <div class="col-9">
                                    <h4>Phòng Deluxe King</h4>
                                    <p>
                                        Tận hưởng những giây phút thư giãn, ngắm nhìn thành phố Huế êm đềm từ ban công của phòng Deluxe King
                                        Không gian ấm áp, rộng rãi đầy đủ thiết bị phục vụ nhu cầu nghỉ ngơi của quý khách.
                                    </p>
                                    <h4>Phòng Deluxe King</h4>
                                    <p>
                                        Tận hưởng những giây phút thư giãn, ngắm nhìn thành phố Huế êm đềm từ ban công của phòng Deluxe King
                                        Không gian ấm áp, rộng rãi đầy đủ thiết bị phục vụ nhu cầu nghỉ ngơi của quý khách.
                                    </p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-2 mt-3">
                        <a class="btn btn-success" style="width:150px; background-color:#f1be0d"><h4>Đặt Phòng</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/js/home/bookingRoom.js"></script>
}