<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewData["Title"]</title>

    <!-- Fontfaces CSS-->
    <link href="~/lib/cooladmin/css/font-face.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Vendor CSS-->
    <link href="~/lib/cooladmin/vendor/animsition/animsition.min.css" rel="stylesheet" />
    <script src="~/lib/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <link href="~/lib/cooladmin/vendor/wow/animate.css" rel="stylesheet" />
    <link href="~/lib/cooladmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/lib/cooladmin/vendor/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/cooladmin/vendor/slick/slick.min.js"></script>
    <link href="~/lib/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <!-- Main CSS-->
    <link href="~/lib/cooladmin/css/theme.css" rel="stylesheet" />
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/lib/cooladmin/images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/lib/cooladmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/lib/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/lib/cooladmin/vendor/slick/slick.min.js">
    </script>
    <script src="~/lib/cooladmin/vendor/wow/wow.min.js"></script>
    <script src="~/lib/cooladmin/vendor/animsition/animsition.min.js"></script>
    <script src="~/lib/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/lib/cooladmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/lib/cooladmin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/lib/cooladmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/lib/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/lib/cooladmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/lib/cooladmin/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/lib/cooladmin/js/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
<!-- end document-->