@{
    ViewData["Title"] = "Quản lý loại phòng";
}

<div class="text-center mb-3">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a href="javascript:void(0);" class="btn btn-info"
           onclick="roomType.add()"><i class="fas fa-plus"></i> Thêm loại phòng</a>
    </div>
</div>

<table class="table table-borderless table-striped table-earning table-responsive">
    <thead>
        <tr>
            <th>id</th>
            <th>loại phòng</th>
            <th class="text-right">giá (₫)</th>
            <th class="text-right">sức chứa</th>
            <th class="text-right">số lượng</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="roomTypesTable">
    </tbody>
</table>

<!-- modal medium -->
<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="mediumModalLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" id="RoomTypeId" name="RoomTypeId" class="form-control" hidden>
                <div class="row form-group">
                    <div class="col-3">
                        <label>Tên loại phòng:</label>
                    </div>
                    <div class="col-9">
                        <input type="text" id="Name" name="Name" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                        <label>Giá phòng (₫):</label>
                    </div>
                    <div class="col-9">
                        <input type="number" id="DefaultPrice" name="DefaultPrice" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                        <label>Sức chứa:</label>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-3">
                                <input type="number" id="adult" name="adult" class="form-control" />
                            </div>
                            <div class="col-3">
                                x <i class="fas fa-male" style="font-size: 1.5em"></i>
                            </div>
                            <div class="col-6">
                                <label class="form-check-label ">
                                    <input type="checkbox" id="child" name="child" value="0.5" class="form-check-input">
                                    <i class="fas fa-child"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                        <label>Số lượng phòng:</label>
                    </div>
                    <div class="col-9">
                        <input type="number" id="Quantity" name="Quantity" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                        <label>Mô tả:</label>
                    </div>
                    <div class="col-9">
                        <textarea id="Description" name="Description" class="form-control" data-rule-required="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="roomType.save()">Lưu</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->
@section scripts{
    <script src="~/js/dashboard/roomtype.js" asp-append-version="true"></script>
}